.main_wrapper_all_articles {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding: 1rem;
    background: var(--gray);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.main_all_articles_title h1{
    margin-bottom: 1rem;
}

.main_all_articles_list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.main_all_articles_item {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.main_all_articles_item_img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.main_all_articles_item_title {
    margin: 1rem 0;
    font-weight: bold;
}

.main_all_articles_item_state {
    margin-bottom: 1rem;
    display: flex;
    justify-content: start;
}

.main_all_articles_item_state i {
    margin-right: 0.5rem;
}

.main_all_articles_item_state span {
    margin-right: 1.5rem;
}

.main_all_articles_item_read {
    background: var(--black);
    border-radius: var(--border-radius);
    text-align: start;
    width: max-content;
}

.main_all_articles_item_read a {
    color: var(--white);
    padding: 0.5rem 1rem;
    display: block;
    font-weight: bold;
}

.main_all_articles_item_read a:hover {
    color: var(--white);
    background: var(--grafite);
    border-radius: var(--border-radius);
}


